Functions

In [1]:
#Examples of some inbuilt functions : "print()","len()" etc.
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [7]:
len(l)

5

In [3]:
#User Defined function and to create a funtion we need to use a keyword def:
def test():
    pass

In [5]:
def test():
    print("HelloWorld")
test()

HelloWorld

In [11]:
#Now try to understand this as the funtion is giving an output as a string "HelloWorld" and now try to concatenate using another string
test() + "Welcome"

HelloWorld

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

So From above error we can understand that thr function contains a print statement which is returning a NoneType but not string because the print statement by default returns the NoneType(which is not any datatype) now try to rewrite the function using return statement.

In [12]:
def test():
    return "Hello World"
test()

'Hello World'

In [14]:
test() + " Welcome"

'Hello World Welcome'

In [17]:
# A thing I basically dont know and got to know now is that we can give mutliple values to a variable
a = 1,2,3,4,"skills"
a

(1, 2, 3, 4, 'skills')

In [18]:
type(a) #By default if we give multiple values at a time it is being considered as a tuple

tuple

In [19]:
#We can declare mutliple variables in a single line in a consequtive way
a,b,c,d = 1,1.23,True,'pwskills'

In [20]:
a

1

In [21]:
b

1.23

In [22]:
c

True

In [23]:
d

'pwskills'

In [27]:
#The function can also return mutliple values with different data types at a time and the output as by default converted into a tuple
def test1():
    return 1,2,3,4,5,'pwkils'
test1()

(1, 2, 3, 4, 5, 'pwkils')

In [28]:
test1()[0]

1

In [29]:
test1()[:]

(1, 2, 3, 4, 5, 'pwkils')

In [30]:
test1()[::-1]

('pwkils', 5, 4, 3, 2, 1)

In [ ]:
#We can assign all these values at a time

In [32]:
a,b = test1() #So here I tried to give only two variables and thought it will store first 2 values and it did not accept

ValueError: too many values to unpack (expected 2)

In [33]:
a,b,c,d,e,f = test1()

In [37]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

1
2
3
4
5
pwkils

In [38]:
def test2():
    a = (3 * 4) + 5
    return a
test2()

17

In [41]:
def test2(a,b):
    c = a + b
    return c
print(test2(1,3),type(test2(1,3)))
print(test2("Hello ","Gowtham"),type(test2("Hello ","Gowtham")))
print(test2([1,2],[3,4]),type(test2([1,2],[3,4])))

4 <class 'int'>
Hello Gowtham <class 'str'>
[1, 2, 3, 4] <class 'list'>

In [42]:
#We can also pass arguments in this way
test2(b="Hello",a="Gowtham ")

'Gowtham Hello'

In [43]:
#Example Program
#try to get all the numbers in list 
l = [1,2,3,4,5,"pwskills","Gowtham"]
def test(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n
test(l)

[1, 2, 3, 4, 5]

In [44]:
#Now consider nested list
l = [1,2,3,4,5,"pwskills","Gowtham",[4,5,6,"BGMI",7,8,"Gamer"]]
def test(a):
    n = []
    for i in a:
        if type(i) == list:
            x = []
            for b in i:
                if type(b) == int or type(i) == float:
                    x.append(b)
            n.append(x)
        if type(i) == int or type(i) == float:
            n.append(i)
    return n
test(l)

[1, 2, 3, 4, 5, [4, 5, 6, 7, 8]]

In [50]:
#passing arguments dynamically when we dont know how many to pass
def test(*args):
    return args
print(test(1))
print(test(1,2))
print(test(12,"pwskills",[2,3,4,5,56]))
print(test([1,23,4],{1,32,4,5},(1,3,5,66)))   #the returned arguments are by default considering as a tuple

(1,)
(1, 2)
(12, 'pwskills', [2, 3, 4, 5, 56])
([1, 23, 4], {32, 1, 4, 5}, (1, 3, 5, 66))

In [56]:
def test(*args,a):
    return args,a
print(test(1)) #Here error is generated because I have given only argument and the funtion minimum of two one for a and one for args

TypeError: test() missing 1 required keyword-only argument: 'a'

In [55]:
print(test(1,2)) #Here error is generated because it is considering all the arguments to *args so to solve this we need to use declarative arguments like a=value.

TypeError: test() missing 1 required keyword-only argument: 'a'

In [54]:
print(test(12,"pwskills", a = [2,3,4,5,56])) #error for above resolved using another example

((12, 'pwskills'), [2, 3, 4, 5, 56])

To pass multiple key value pairs we use the following syntax (**) in arguments

In [59]:
def test(**kvargs):
    return kvargs
test(a=1,b=2,c=44,d=5) 
#here make sure that you give arguments as key word argumnets such that a=1 because a is considered as key and 1 is considerea as its key value else it generates an error

{'a': 1, 'b': 2, 'c': 44, 'd': 5}

In [72]:
#Lets write an example program where it takes multiple kv pairs and if the value is a list or tuple then it should return that key and value 
def test(**kvargs):
    for i in kvargs.keys():
        if type(kvargs[i]) == list or type(kvargs[i]) == tuple:
            return i,kvargs[i]
test(a=[1,2,3],d=[1,3,4,5]) # Only a is getting printed because when only return is executed it will stop the execution of the function

('a', [1, 2, 3])

In [73]:
#Modified version of code 

def test(**kwargs):
    result = []
    for key, value in kwargs.items():
        if isinstance(value, (list, tuple)):
            result.append((key, value))
    return result
test(a=[1,2,3],b=(1,2,3),c=12)

[('a', [1, 2, 3]), ('b', (1, 2, 3))]

The isinstance() function is a built-in Python method used to check if an object belongs to a specified class or if it is an instance of a subclass. It returns True if the object matches the specified class or subclass, and False otherwise.

The syntax of the isinstance() function is as follows:
isinstance(object, classinfo)

object: The object that you want to check the class or instance of.
classinfo: A class, type, or tuple of classes/types to compare the object against.

In [74]:
def test(*args,**kvargs):
    return args,kvargs
test(1,2,4,54,a=4,b=5)

((1, 2, 4, 54), {'a': 4, 'b': 5})

Generator Funtions

The generator function does not use more memory because it generates and prints directly and do not wait to complete the whole loop so more memory is not used.

In [2]:
range(1,11)

range(1, 11)

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
#Fabonicci Series
def fabonicii(n):
    a,b = 0,1
    for i in range(n):
        yield a 
        b,a = a+b,b   #This is a special statement such that it assigns computed values to b,a but for computation it uses  the a=0,b=1 for first iteration 
        
fabonicii(10)

In [13]:
list(fabonicii(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Yeild function: Makes memory efficient.

The generator object created when using yield in a generator function does store the values internally. However,the generator object stores and generates the values on-demand as they are requested, rather than precomputing and storing all the values upfront.

When you use print a, the values will be immediately printed to the console, but they are not stored in a data structure or accessible for further processing within the program. Each value will be printed as it is generated, but once it is printed, it is essentially discarded.

In contrast, when you use yield a, the values are generated and returned as part of a generator object. The generator object can be iterated over, allowing you to access and process each value as needed.

#Lambda Function
These are also called as oneline functions or shorthand fucntions.
These are the only functions with no names.
Also called as Adhoc Function,Anonymus Function

In [15]:
#Consider a fucntion to perform power
def test(n,p):
    return n**p
test(3,3)

27

In [16]:
#the above example can be written like this
a = lambda n,p : n**p
a(3,3)

27

In [18]:
b = lambda a,b : a+b
b(28,28)

56

In [20]:
#Celcius to Fareheit
c_to_f = lambda c : (9/5)*c+32
c_to_f(34)

93.2

In [21]:
#Maximum of Two Numbers
max = lambda a,b : a if a>b else b
max(56,57)

57

Mapper Funtion

In [23]:
# Consider an function where you need to perform square for values in a list
li = [1,2,3,4,5]
def test(li):
    l = []
    for i in li:
        l.append(i*i)
    return l    
test(li)

[1, 4, 9, 16, 25]

This can be done easily using a mapper Funtion 
Syntax : map(func, *iterables)

In [41]:
#lets creaate a function and give it to map function
li = [1,2,3,4,5]
def sq(i):
    return i**2
map(sq,li)

In [42]:
list(map(sq,li))

[1, 4, 9, 16, 25]

In [43]:
#We can write this in other way using lambda function
list(map(lambda x : x**2 , li))

[1, 4, 9, 16, 25]

In [44]:
#Other Example
list(map(lambda x : x+10 , li))

[11, 12, 13, 14, 15]

In [45]:
#Type conversion of elements in list using map function
list(map(lambda x : str(x), li))

['1', '2', '3', '4', '5']

In [46]:
#Consider two list and add two the values in the two list and generate a final list
l1 = [1,23,4,5]
l2 = [123,4,3,5]

list(map(lambda x,y : x+y ,l1,l2 ))

[124, 27, 7, 10]

In [47]:
# The Above example can be easily structured and can be written like this also
l1 = [1,23,4,5]
l2 = [123,4,3,5]
a = lambda x,y : x+y
list(map(a,l1,l2 ))

[124, 27, 7, 10]

In [48]:
#Converting all the characters in a string into uppercase
s = "pwskills"
list(map(lambda x : x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

Reduce Function #By default not available.Check Implementation in notes 
Syntax : reduce(function, iterable)

In [51]:
from functools import reduce

In [53]:
l = [1,2,4,5,6]
reduce(lambda x,y : x+y, l)

18

In [57]:
# Another way of writing.
def add(x,y):
    return x+y
reduce(add,l)

18

Some Exceptions of reduce funtion
1) It gives preper values when and only we use two parameters 
2) The iterables can not be empty
3) The main exception is it can have 1 value and that value will be ouptut

In [58]:
l = [1,2,4,5,6]
reduce(lambda x,y,z : x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [59]:
l = [1,2,4,5,6]
reduce(lambda x,y : x+y,[])

TypeError: reduce() of empty iterable with no initial value

In [60]:
l = [1,2,4,5,6]
reduce(lambda x,y : x+y,[5])

5

In [61]:
l = [1,2,4,5,6]
reduce(lambda x,y : x+y,[3])

3

In [62]:
reduce(lambda x,y : x if x>y else y,l)

6

Filter Function : Filters the values according to the condition
filter(function or None, iterable)

In [64]:
# Filter even numbers from the list
l = [1,2,4,5,56,7,8]
list(filter(lambda x : x%2==0 , l))

[2, 4, 56, 8]

In [65]:
# Filter odd numbers from the list
l = [1,2,4,5,56,7,8]
list(filter(lambda x : x%2!=0 , l))

[1, 5, 7]

In [68]:
# Give positive numbers from the list
l = [1,2,3,-1,-2,-3]
list(filter(lambda x : x>0,l))

[1, 2, 3]

In [69]:
# Give negative numbers from the list
l = [1,2,3,-1,-2,-3]
list(filter(lambda x : x<0,l))

[-1, -2, -3]

In [70]:
# Filter out the values length greater than 8
l = ["Gowtham Varma","pwskils","data","Science"]
list(filter(lambda x : len(x) < 8,l))

['pwskils', 'data', 'Science']