In [1]:
str1 = "PW Data Science Skills"

In [2]:
str1[5]

't'

In [3]:
str1[0:2]

'PW'

In [4]:
str1[:]

'PW Data Science Skills'

In [5]:
len(str1) #Count starts from 1 so when we try to count starting with 0 it has 21 characters

22

In [6]:
str1[0:21] #it does not print 's' because it will print upto (maxrange-1)value

'PW Data Science Skill'

In [7]:
str1[0:22]

'PW Data Science Skills'

In [8]:
str1[-1]

's'

In [9]:
str1[-2]

'l'

In [10]:
str1[:-1]

'PW Data Science Skill'

In [11]:
str1[-22:-1] #prints only upto -2 index

'PW Data Science Skill'

In [12]:
str1[-15:11]   #so here when we try to give indexes with different signs make sure you convert index into one sign then you 
              #asily understand the output.So here -15 indicates " " between Data and Science which 7th index so inturn the 
              #question becomes str[7:11]'''

' Sci'

In [13]:
#To reverse the string
str1[::-1]    #What happening here is that when we does not give any value then python itself consider the some defalult 
            #values according to given step size and for the question I have given the step size as -1 so the python 
            #considers the maximum index value and according to the step size it will decrements the value by one and prints it

'sllikS ecneicS ataD WP'

In [14]:
str1 = "Data Science Masters"
str1 +" Course"

'Data Science Masters Course'

In [15]:
str1 = str1 + "Course"
print(str1)
len(str1)

Data Science MastersCourse

26

In [16]:
str1.find("z")

-1

In [17]:
str1.find("xo")

-1

In [18]:
str1.count('rs')

2

In [19]:
str1.count('')

27

In [20]:
str1.split('S')

['Data ', 'cience MastersCourse']

In [21]:
str1.split(' ')

['Data', 'Science', 'MastersCourse']

In [22]:
str1.partition('S')

('Data ', 'S', 'cience MastersCourse')

In [23]:
str1.lower()

'data science masterscourse'

In [24]:
str1.upper()

'DATA SCIENCE MASTERSCOURSE'

In [25]:
str1.swapcase()

'dATA sCIENCE mASTERScOURSE'

In [26]:
str1.title()

'Data Science Masterscourse'

In [27]:
str1.capitalize()

'Data science masterscourse'

Reverse string using inbuilt

In [28]:
reversed(str1) #we cannot see the output directly so we need to use any data structure or by using join() function or loops
#Here an object is returned which is an iterator.The reversed funciton returns iterator object which contains sequence of ele.

In [29]:
list(reversed(str1))

['e',
 's',
 'r',
 'u',
 'o',
 'C',
 's',
 'r',
 'e',
 't',
 's',
 'a',
 'M',
 ' ',
 'e',
 'c',
 'n',
 'e',
 'i',
 'c',
 'S',
 ' ',
 'a',
 't',
 'a',
 'D']

In [30]:
#Join Function examples 
' '.join("ant")

'a n t'

In [31]:
' '.join("pwskills")

'p w s k i l l s'

In [32]:
' great '.join("PW")

'P great W'

In [33]:
' hlo '.join("data")

'd hlo a hlo t hlo a'

In [34]:
'hi'.join("data")

'dhiahithia'

In [35]:
' '.join(reversed("ant"))

't n a'

extraction of elements using the join()

In [36]:
' '.join(reversed(str1))

'e s r u o C s r e t s a M   e c n e i c S   a t a D'

extraction of elements using the loop

In [37]:
for i in reversed(str1):
    print(i,end='')

esruoCsretsaM ecneicS ataD

In [38]:
str2 = ' Data Science '

In [39]:
str2.strip(' ') #it is used to remove starting and ending space

'Data Science'

In [40]:
str2.lstrip(' ') #used to remove left space

'Data Science '

In [41]:
str2.rstrip(' ') #used to remove the right space

' Data Science'

We know strings are immutable so we cannot replace each characters in the string.
But we can maipulate the strings with the words in it but everytime you replace a word in the string a new string is generated

In [42]:
str3 = "Welcome to Data"
a = "hi"

In [43]:
str4 = str3.replace("to","from")
b = a

In [44]:
print(id(a))
print(id(b))

139788888679792
139788888679792

In [45]:
print(id(str3))
print(id(str4))

139788773256880
139788842017824

To remove spaces between words in string we can use following steps

In [46]:
str2.replace(" ","")

'DataScience'

In [47]:
str1 = "Welcome to PW Skills.Welcome to Dat cience Masters"
str1.replace("Dat","Data").replace("cience","Science")#we can mutliple replace funtions at a time.

'Welcome to PW Skills.Welcome to Data Science Masters'

In [48]:
#to check whether a string is upper case or not
str1.isupper()

False

In [49]:
str5 = "KING"
str6 = "queen"

In [50]:
print(str5.isupper()) #returns true if the string contains the characters which are only in upper case
print(str6.islower()) #returns true if the string contains the characters which ate only in lower case

True
True

In [51]:
str7 = "      "
str7.isspace() #returns true if and only if the string contains only spaces

True

In [52]:
#endswith function is used to check whether the string is ending with the given character or not 
str8 = "DataScience"
print(str8.endswith('e'))
print(str8.endswith('s'))
print(str8.startswith('D'))

True
False
True

Printing Reverse of the string using the while loop

In [53]:
k = len(str8)
while(k>0):
    k = k - 1
    print(str8[k])

e
c
n
e
i
c
S
a
t
a
D

Printing Reverse of the string using the for loop

In [54]:
for i in range(len(str8)-1,-1,-1):
    print(str8[i])

e
c
n
e
i
c
S
a
t
a
D

In [55]:
string = "pwskills"
vowels = "AaEeIiOoUu"
for i in string:
    if i in vowels:  #The "in" keyword is used to check whether a character is prsenet in other string or any strucutres
        print("{} is a vowel".format(i))
    else:    
        print("{} is not a vowel".format(i))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

List

In [56]:
type([])

list

In [57]:
li = ['Gowtham','Data Science Master',20]
li[2]

20

In [58]:
li[2] = 19
print(li)

['Gowtham', 'Data Science Master', 19]

In [59]:
type(li[2])

int

In [60]:
s = 'Data Science'
print(list(s))
s.split(" ") #By default split and partition function of string returns list only.

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

['Data', 'Science']

In [61]:
list1 = [1,2,3]
print(list1+[1,3])
print(list1)

[1, 2, 3, 1, 3]
[1, 2, 3]

In [62]:
list1 = list1 + [['Data',3]]
print(list1)
print(list1[3][0])

[1, 2, 3, ['Data', 3]]
Data

In [63]:
list1*2

[1, 2, 3, ['Data', 3], 1, 2, 3, ['Data', 3]]

In [64]:
print(list1)
#Now check whether element 2 is  present in the list
if 2 in list1:
    print("{} is present".format(2))

[1, 2, 3, ['Data', 3]]
2 is present

In [65]:
for i in range(len(list1)):
    if(2 == list1[i]):
        print("{} is present in the list".format(2))

2 is present in the list

In [66]:
2 in list1

True

In [67]:
list1 = [1,2,3,4,5,6,7]
list2 = ['gowtham','good','apple']
print(max(list1))
print(max(list2)) #since list2 contains strings the pyhton will check first character of every string with high ascii value
                  #and if the first characters are similar it checks consequtive until it gets result.
print(min(list1))
print(min(list2))# viceversa to max

7
gowtham
1
apple

In [68]:
list1.append('pwskills') 
print(list1)

[1, 2, 3, 4, 5, 6, 7, 'pwskills']

In [69]:
list1.pop()

'pwskills'

In [70]:
print(list1.pop(4))
print(list1)

5
[1, 2, 3, 4, 6, 7]

In [71]:
newlist = [1,2,3,'a','b','c']

In [72]:
newlist[::-1]

['c', 'b', 'a', 3, 2, 1]

In [73]:
newlist.reverse() #inplace operation

In [74]:
newlist

['c', 'b', 'a', 3, 2, 1]

In [75]:
chr(65) #remember these

'A'

In [76]:
ord('c') #remember these

99

In [77]:
for i in range(len(newlist)):
    if(type(newlist[i]) == str):
        newlist[i] = ord(newlist[i])

In [78]:
newlist

[99, 98, 97, 3, 2, 1]

In [79]:
newlist.sort()

In [80]:
newlist

[1, 2, 3, 97, 98, 99]

In [81]:
#for descending order
newlist.sort(reverse=True)
newlist

[99, 98, 97, 3, 2, 1]

Nested List

In [82]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

matrix = [l1,l2,l3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
#get element 2
matrix[0][1]

2

In [84]:
#get elements 8,9
matrix[2][1:]

[8, 9]

List Comprehension

In [85]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [86]:
[(i,"is even") if i%2==0 else "odd" for i in range(20)]

[(0, 'is even'),
 'odd',
 (2, 'is even'),
 'odd',
 (4, 'is even'),
 'odd',
 (6, 'is even'),
 'odd',
 (8, 'is even'),
 'odd',
 (10, 'is even'),
 'odd',
 (12, 'is even'),
 'odd',
 (14, 'is even'),
 'odd',
 (16, 'is even'),
 'odd',
 (18, 'is even'),
 'odd']

In [87]:
li = [1,2,3,4,5,6,7,8]
odd = 0
even = 0
for i in li:
    if i%2==0:
        even = even + i
    else:
        odd = odd + i
print(even)
print(odd)

20
16

Using list comprehension

here we have a drawback in list comprehension that if we try to write the if condition at starting of list then it expects the else block aslo and when you write the if condition in end of the loop it does not expect the else block

In [88]:
[i  for i in li ]

[1, 2, 3, 4, 5, 6, 7, 8]

In [89]:
#now to get the even numnbers
[i  for i in li if i%2==0]

[2, 4, 6, 8]

In [90]:
#now we can add using
even = sum([i  for i in li if i%2==0])
print(even)

20

In [91]:
odd = sum([i  for i in li if i%2!=0])
print(odd)

16

In [92]:
[i*i for i in li]

[1, 4, 9, 16, 25, 36, 49, 64]

In [93]:
#create the a list only contianing only the positive numbers
num = [-2,-1,0,1,2]
[i for i in num if i>=0]

[0, 1, 2]

In [94]:
name = ['apple','banana','cat','dog'] 
# [name[i][0][0] for i in range(len(name))] or
[i[0] for i in name]

['a', 'b', 'c', 'd']

In [95]:
temp = [32,45,66,45,34]
[((9/5)*i+32) for i in temp]

[89.6, 113.0, 150.8, 113.0, 93.2]

In [96]:
print(matrix) #Flattening the multidimensional list in to single list
# [matrix[i][j] for i in range(len(matrix)) for j in range(len(matrix))]
# easy method
[num for sublist in matrix for num in sublist]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
li = [1,2,3,4,5,6,7,8,9] #make a list which only contiaing prime numbers using list comprehesion
li1 = [1,2,3,4] #using list comprehension make the list with combinations of elements

In [98]:
newli = []
for i in li:
    flag = 0
    n=1
    while(i>=n):
        if(i%n==0):
            flag = flag+1
        n = n+1
    if(flag==2):
        newli.append(i)
print(newli)

[2, 3, 5, 7]

li = [1, 2, 3, 4, 5, 6, 7, 8, 9]
newli = [i for i in li if sum(1 for n in range(1, i + 1) if i % n == 0) == 2]
print(newli)

In [99]:
[(li1[i],li1[j]) for i in range(len(li1)) for j in range(len(li1))]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

Tuples #Protip in python use "Shift+tab" to know about the funtion and tab to know what kind of funtions available for the data structure

In [100]:
tup = ()
type(tup)

tuple

In [101]:
tup = (1,2,3,4,5,6,7,'gowtham',True)

In [102]:
type(tup)

tuple

In [103]:
print(tup[0])
print(tup[7])

1
gowtham

In [104]:
tup[::-1]

(True, 'gowtham', 7, 6, 5, 4, 3, 2, 1)

In [105]:
tup[:3]

(1, 2, 3)

In [106]:
tup = (1,2,3,4,5,6,7)
tup1 = (8,9,10)
tup + tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [107]:
tup.count(7)

1

In [108]:
tup.index(7) #Return the first index of the value.

6

Tuples are immutable so reassignment is not possible here.

In [109]:
#extraction of data from the tuple
for i in tup:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [110]:
tup*2

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [111]:
tup1 = (1,2,34,45,5)
print(max(tup1))
print(min(tup1))

45
1

In [112]:
del tup1

In [113]:
tup1 #tuple tup1 is deleted.

NameError: name 'tup1' is not defined

In [ ]:
len(tup)

In [114]:
t2 = (1,2,3,4)
t1 = [1,2,3,4]
tup = (t1,t2)

In [115]:
tup

([1, 2, 3, 4], (1, 2, 3, 4))

In [116]:
tup[0][3] = 5 #we can change the values in a tuple if it contains mutable objects like list in it.

In [117]:
tup

([1, 2, 3, 5], (1, 2, 3, 4))

In [118]:
l = [1,2,3,(1,2,3)]

In [119]:
l

[1, 2, 3, (1, 2, 3)]

In [120]:
l[3][0] = 5 #we can not change values in the tuple even it is in the mutable object

TypeError: 'tuple' object does not support item assignment

Sets

In [121]:
type({})

dict

In [122]:
s1 = {} #curly braces with no elements is considered as a dictionary 
type(s1)

dict

In [123]:
s1 = {1,2,3,4} #curly braces with values is considered as a set
type(s1)

set

In [124]:
s1 = {5,2,4,4,6,7,7,4,7,7,7,7,5,7,7,7,7,7,7,6,7}
s1 #set is a kind of data structure which is used to store the data and it ensures that data is unique and does not have any duplicates in it

{2, 4, 5, 6, 7}

In [125]:
s1

{2, 4, 5, 6, 7}

In [126]:
s1[0] = 9 #generates error beacuse sets are immutable

TypeError: 'set' object does not support item assignment

In [127]:
#since set is a collection of data lets try some combinations
s1 = {1,2,4,5,[1,2,4,5,5]} #The Set does not accept list as its data because the list can have capability of changing data so set dont accept it.

TypeError: unhashable type: 'list'

In [128]:
s1 = {1,2,4,5,(1,2)}
s1 #other good feature of set is it automatically sorts the data and by seeing following examples you can understand how it is sorting and removing duplicates

{(1, 2), 1, 2, 4, 5}

In [129]:
s1 = {1,2,3,4,(1),(2),(3)}
s1

{1, 2, 3, 4}

In [130]:
s1 = {1,2,5,6,4,5,(1,2)}
s1

{(1, 2), 1, 2, 4, 5, 6}

In [131]:
s1[0] # sets does not support indexing.

TypeError: 'set' object is not subscriptable

In [132]:
s1[::-1] #sets does not support slicing also

TypeError: 'set' object is not subscriptable

This is because unlike the tuples and the lists the sets does not store the data in a ordered way (or) sequential order  and it uses the hashing concept to store so indexing is not worked in sets.But we can convert the set into lists and tuples and use them , we can also convert lists,tuples into the set

In [133]:
print(s1)
type(s1)

{1, 2, (1, 2), 4, 5, 6}

set

In [134]:
l1 = list(s1)
print(l1,type(l1))

[1, 2, (1, 2), 4, 5, 6] <class 'list'>

In [135]:
t1 = tuple(s1)
print(t1,type(t1))

(1, 2, (1, 2), 4, 5, 6) <class 'tuple'>

In [136]:
s2 = set(l1)
s2

{(1, 2), 1, 2, 4, 5, 6}

In [137]:
s3 = set(t1)
s3

{(1, 2), 1, 2, 4, 5, 6}

In [138]:
print(id(s1))
print(id(s2))
print(id(s3))

139788773468512
139788773466496
139788773469632

Funtions in set #tip write set. and press"tab" to know all the funtions in it

In [139]:
s1 = { 2, 4, 5, 1, 6}
s1

{1, 2, 4, 5, 6}

In [140]:
s1.add(56) #adds element
s1

{1, 2, 4, 5, 6, 56}

In [141]:
x = s1.remove(56) #the removed element is not able to stored in varaible when we remove() funtion but it allows us to choose to remove which element
print(x) 
s1

None

{1, 2, 4, 5, 6}

In [142]:
x = s1.pop() # it allows us to store element after poping it but there is no choice to remove specific element when we pop() funtion
print(x)  #it pops first element from the set 
print(s1)

1
{2, 4, 5, 6}

In [143]:
s2 = {1,2,3,(1,2,3)}

In [144]:
s2.pop()
s2

{(1, 2, 3), 2, 3}

In [145]:
s3 = {1,2,3,(1)} # it makes the set as {1,2,3} becuse it considers (1) as duplicate

In [146]:
print(s3.pop())
s3

1

{2, 3}

In [147]:
s4 = {1,2,3,(1,2)}

In [148]:
print(s4.pop())
s4

3

{(1, 2), 1, 2}

In [149]:
s5 = {1,2,3,(4,5),4,5,6,7}
#we can extract the data from the set using for loop
for i in s5:
    print(i)

1
2
3
4
5
6
7
(4, 5)

In [150]:
s5.clear() #delets all elements in set.

In [151]:
s5

set()

In [152]:
s5 = {1,2,3,4}
s6 = {1,2,3,5}
s5.difference(s6) #its just like setA - setB in maths

{4}

In [153]:
s5 = {1,2,3,4}
s6 = {1,2,3,5}
s6.difference(s5) #its just like setB - setA in maths

{5}

Dictionary

In [154]:
d = {}

In [155]:
type(d)

dict

In [156]:
d = {"id":"57","name":"gowtham","age":"25"}

In [157]:
d

{'id': '57', 'name': 'gowtham', 'age': '25'}

Now lets check what are different types we can assign as keys

In [158]:
d1 = {12 : "x"} # numbers are accepted as keys

In [159]:
d = {1.1:"x"}  # float are accepted as keys

In [160]:
d = {True:"x"}  # Boolean are accepted as keys

In [161]:
d = {'c':"x"}  # character are accepted as keys

In [162]:
d = {"str":"x"}  # strings are accepted as keys

In [163]:
d = { 1+2j : "x"}  # complex number are accepted as keys

In [164]:
d = { _ :"x"}  # special character are accepted as keys

TypeError: unhashable type: 'dict'

In [165]:
d = {@ :"x"}  # special character are not accepted as keys

SyntaxError: invalid syntax (2663682795.py, line 1)

In [166]:
d = {$:"x"}  # special character are not accepted as keys

SyntaxError: invalid syntax (1464130667.py, line 1)

In [167]:
d = {[1,2,3] : "x"}  # list are not accepted as keys

TypeError: unhashable type: 'list'

In [168]:
d = {(1,2):"x"}  # tuples are accepted as keys

In [169]:
d = {{1,2}:"x"}  # sets are accepted as keys

TypeError: unhashable type: 'set'

In [170]:
d = {{"a":"x"}:"s"}  # dictionary are accepted as keys

TypeError: unhashable type: 'dict'

For values except special characters it can be anything

In [171]:
d = {"$": 'a'}

In [172]:
d = {"course" : ["ds","hadoop"],"dates":(1,2,3),"lectures":{"me","myself"}}
d

{'course': ['ds', 'hadoop'], 'dates': (1, 2, 3), 'lectures': {'me', 'myself'}}

In [173]:
#we can also add new key and its value to the dictionary easily , you can understand using following example
d["timings"] = (5,6,7)

In [174]:
d

{'course': ['ds', 'hadoop'],
 'dates': (1, 2, 3),
 'lectures': {'me', 'myself'},
 'timings': (5, 6, 7)}

In [175]:
#if we try to add another key and data but with same key value it updates but not create another one
d["timings"] = {5,7}

In [176]:
d

{'course': ['ds', 'hadoop'],
 'dates': (1, 2, 3),
 'lectures': {'me', 'myself'},
 'timings': {5, 7}}

In [177]:
d = {"course" : ["ds","hadoop"],"dates":(1,2,3),"lectures":{"me","myself"},"course" : ("java","ds")}

In [178]:
d

{'course': ('java', 'ds'), 'dates': (1, 2, 3), 'lectures': {'me', 'myself'}}

In [179]:
d['course'] #keys are used as the indexes to get the respective data

('java', 'ds')

In [180]:
d = {"course" : {"c1":"hadoop","c2":"java"}}

In [181]:
d["course"]

{'c1': 'hadoop', 'c2': 'java'}

In [182]:
d["course"]["c1"]

'hadoop'

In [183]:
d["course"]["c3"] = "python"
d

{'course': {'c1': 'hadoop', 'c2': 'java', 'c3': 'python'}}

In [184]:
del d["course"]["c3"]
d

{'course': {'c1': 'hadoop', 'c2': 'java'}}

Dictinary Functions #Protip in python use "Shift+tab" to know about the funtion and tab to know what kind of funtions available for the data structure

In [185]:
print(d)
len(d)
#gives total number of key value parls available

{'course': {'c1': 'hadoop', 'c2': 'java'}}

1

In [186]:
len(d['course'])

2

In [187]:
d.keys()

dict_keys(['course'])

In [188]:
d.values()

dict_values([{'c1': 'hadoop', 'c2': 'java'}])

In [189]:
list(d.keys())

['course']

In [190]:
d.items()

dict_items([('course', {'c1': 'hadoop', 'c2': 'java'})])

In [191]:
list(d.items())

[('course', {'c1': 'hadoop', 'c2': 'java'})]

In [192]:
import copy
d1 = copy.deepcopy(d) #to replicate the dictionary we use this funciton
d1 #First method - This method creates a new memory location for the copy of the data and if any change in d does not effect d1

{'course': {'c1': 'hadoop', 'c2': 'java'}}

In [193]:
d2 = d #here changes in d gets reflected in d2
# or d2 = copy.copy(d) similar

In [194]:
del d["course"]['c1']

In [195]:
d

{'course': {'c2': 'java'}}

In [196]:
d1

{'course': {'c1': 'hadoop', 'c2': 'java'}}

In [197]:
d2

{'course': {'c2': 'java'}}

In [198]:
d1['course'].pop('c2')

'java'

In [199]:
d1

{'course': {'c1': 'hadoop'}}

In [200]:
d1 = d1.fromkeys((1,2,3),('a','b'))

In [201]:
d1

{1: ('a', 'b'), 2: ('a', 'b'), 3: ('a', 'b')}

In [202]:
d3 = {"key1":"value1","key2":"value2"}
d4 = {"key3":"value3","key4":"value4"}

In [203]:
d3

{'key1': 'value1', 'key2': 'value2'}

In [204]:
d4

{'key3': 'value3', 'key4': 'value4'}

In [205]:
d3.update(d4)
d3

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [206]:
d4

{'key3': 'value3', 'key4': 'value4'}

In [207]:
d4.update(d3)

In [208]:
d4

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [209]:
d4.get('key5') #this funtion is similar to normally getting data through indexing but while indexing method if we try to give a key which does not exist in the dictionary it generates an error whereas get funtion does not generate the error

In [210]:
d4['key5']

KeyError: 'key5'

Dictionary Comprehension

In [211]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [212]:
d5 = {i:i+10 for i in range(1,11)}

In [213]:
for i in d5.keys():
    if i%2 == 0:
        print(d5[i])

12
14
16
18
20

In [214]:
l1 = [1,2,3,4,5]
l2 = l1

In [215]:
l1.append(6)

In [216]:
l2

[1, 2, 3, 4, 5, 6]